{% extends 'base.html' %}
{% import 'poll_formats.html' as pf -%}

{% block content %}
    <h1>{{poll.name}}</h1>

    {% if poll.description %}
    <p>{{poll.description}}</p>
    {% endif %}

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Chosen:&nbsp;<strong>{{poll.options[0].text}}</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% for line in poll.gen_closed_text() %}
                  <strong>{{line[0]}}</strong>{{line[1]}}<br>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>

{% endblock %}
