{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit poll {% endblock %}</h1>
    <form method="post">
    {{ form.hidden_tag() }}
    <ul id="options" class="list-group mb-2">
        {% for option in form.options %}
        <li id="option-{{loop.index-1}}" class="list-group-item options-entry">
            <div class="d-flex justify-content-between">
                {{option(class_="form-control me-3", placeholder="Option " + (loop.index|string))}}
                <div class="delete-button text-center">
                    <button type="button" class="delete-option btn btn-outline-danger" data-target="#option-{{loop.index-1}}">🗑️</button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary" id="add-row" data-target="#options">+</button>
    {{form.submit(class_="btn btn-primary")}}
    </div>
    </form>

    <script src="{{ url_for('static', filename='js/edit_poll.js') }}"></script>
{% endblock %}