{% macro table_option_user(poll, form, AVAILABILITY) -%}
<form method="post">
{{ form.hidden_tag() }}
<table class="table" id="options-users-table">
    <tr> <!-- Month + Year -->
        <th></th> <th></th> <th></th>
        {% for option in poll.options %}
            {% if poll.different_than_last(loop.index-1) %}
            <th class="text-center align-middle" colspan="{{poll.next_year_and_month(loop.index-1)}}"> {{option.year_and_month()}} </th>
            {% endif %}
        {% endfor %}
        <th></th>
    </tr>
    <tr> <!-- Day + hour -->
        <th></th> <th class="text-center">Name</th> <th></th>
        {% for option in poll.options %}
            <th class="text-center align-middle option-time" style="min-width: 75px;"> {{option.dayname}}&nbsp;{{option.day}}{{option.time if option.time else ""}}</th>
        {% endfor %}
        <th></th>
    </tr>
    <tr> <!-- Input -->
        <th></th>
        <td class="text-center align-middle"><div class="d-flex justify-content-center">
        {{form.name(
            placeholder="Your name",
            class_="form-control",
            style="min-width: 150px; ")
        }}</div></td>
        <th></th>
        {% for option in form.options %}
        <td>
            <div class="d-flex justify-content-center">
                {{option(
                    class_="form-control options-select text-center sync",
                    style="max-width: 75px;"
                )}}
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn-group-vertical options-buttons sync" id="options-{{loop.index-1}}-buttons" role="group" aria-label="Vertical radio toggle button group">
                    {% set optioni = loop.index-1 %}
                    {% for icon in AVAILABILITY %}
                        {% if loop.index == 1%}
                        <input type="radio" class="btn-check" name="vbtn-radio{{optioni}}" id="vbtn-radio{{optioni}}-{{loop.index-1}}" autocomplete="off" value="{{icon}}" checked>
                        {% else %}
                        <input type="radio" class="btn-check" name="vbtn-radio{{optioni}}" id="vbtn-radio{{optioni}}-{{loop.index-1}}" autocomplete="off" value="{{icon}}">
                        {% endif %}
                        <label class="btn btn-outline-primary" for="vbtn-radio{{optioni}}-{{loop.index-1}}">{{icon}}</label>
                    {% endfor %}
                </div>
            </div>
        </td>
        {% endfor %}
        <td class="text-center align-middle"><div>{{form.submit(class_="btn btn-primary")}}</div></td>
    </tr>
    {% for row in poll.rows %} <!-- Users -->
    <tr>
        {% set row_index = loop.index - 1 %}
        <td></td>
        <th class="text-center align-middle">
            <div class="d-flex text-center justify-content-between align-items-center">
                <div style="width:46px"></div>
                {{row[0]}}
                <div style="width:46px">
                    <div class="weight">
                        <input class="weight-input form-control text-center" id="weight-{{row_index}}" value="1">
                    </div>
                </div>
            </div>
        </th>
        <td>
            <div class="d-flex justify-content-center">
                <div class="edit-button" ><a href="?edituser={{row[0]}}">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">✏️</button>
                    </a>
                </div>
            </div>
        </td>
        {% for cell in row[1] %}
        <td id="availability-{{row_index}}-{{loop.index-1}}" class="availability text-center align-middle">
            {{cell}}
        </td>
        {% endfor %}
        <td>
            <div class="delete-button text-center"><a href="?delete={{row[0]}}">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">🗑️</button>
            </a></div>
        </td>
    </tr>
    {% endfor %}
    <tfoot> <!-- Summary -->
        <td></td>
        <td></td>
        <td></td>
        {% for _ in poll.options %}
            <td id="summary-{{loop.index-1}}" class="summary text-center align-middle"></td>
        {% endfor %}
        <td></td>
    </tfoot>
</table>
</form>
{% endmacro -%}
