{% extends 'base.html' %}

{% block content %}
    {% if errors %}
    <div class="alert alert-danger" role="alert"> {{errors}} </div>
    {% endif %}

    <h1>{{poll.name}}</h1>
    <div class="overflow-auto">
    <table class="table">
        <thead>
            <th style="min-width: 150px;">Name</th>
            <th></th>
            {% for option in poll.options %}
                {% if poll.diffrent_than_last(loop.index-1) %}
                <th colspan="{{poll.next_year_and_month(loop.index-1)}}"> {{option.year_and_month()}} </th>
                {% endif %}
            {% endfor %}
            <th></th>
        </thead>
        <thead>
            <th></th> <th></th>
            {% for option in poll.options %}
                <th style="min-width: 65px;"> {{option.dayname}}&nbsp;{{option.day}}{{option.time if option.time else ""}}</th>
            {% endfor %}
            <th></th>
        </thead>
        <tr>
            <form method="post">    
            {{ form.hidden_tag() }}
            <td>{{form.name(
                placeholder="Your name",
                class_="form-control")
            }}</td>
            <th>
                <div class="text-center">
                    <input type="checkbox" class="btn-check" id="interval-mode" autocomplete="off" style="min-width: 165px;">
                    <label class="btn btn-outline-primary" for="interval-mode"
                           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Toggle interval mode">
                    ➡
                    </label>
                </div>
            </th>
            {% for option in form.options %}
            <td>{{option(class_="form-control option-select")}}</td>
            {% endfor %}

            <td><div class="text-center">{{form.submit(class_="btn btn-primary")}}</div></td>
            </form>
        </tr>
        {% for row in poll.rows %}
        <tr>
            <td style="text-align: center">{{row[0]}}</td>
            <td>
                <div class="text-center"><a href="?edit={{row[0]}}">
                    <button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit" type="button" class="btn btn-outline-secondary">✏️</button>
                </a></div>
            </td>
            {% for cell in row[1] %}
            <td style="text-align: center">
                {{cell}}
            </td>
            {% endfor %}
            <td>
                <div class="text-center"><a href="?delete={{row[0]}}">
                    <button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete" type="button" class="btn btn-danger">🗑️</button>
                </a></div>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            {% for availabilty in poll.total_availability %}
                <td class="text-center">{{availabilty[0]}} + ({{availabilty[1]}})</td>
            {% endfor %}
            <td></td>
        </tr>
    </table>
    </div>
    <script src="{{ url_for('static', filename='js/poll.js') }}"></script>
{% endblock %}