{% extends 'base.html' %}
{% import 'poll_formats.html' as pf -%}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>{{poll.name}}</h1>
        <div>
            <a href="?edit"><button type="button" class="btn btn-primary">Edit poll</button></a>
            <button type="button" class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Close poll</button>
        </div>
    </div>

    {% if poll.description %}
    <p>{{poll.description}}</p>
    {% endif %}

    <div class="overflow-auto">
    {{pf.table_option_user(poll, form, AVAILABILITY)}}
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" data-bs-scroll="true" data-bs-backdrop="false">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">Choose final time</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post">
                {{ form.hidden_tag() }}
                <ul class="list-group mb-2">
                    {% for option in close_form.options %}
                    <li class="list-group-item">
                        {{option(class_="form-check-input me-1")}}
                        <label class="form-check-label" for="firstCheckbox">{{option.label}}</label>
                    </li>
                    {% endfor %}
                </ul>
                <div class="text-end">{{close_form.close(class_="btn btn-danger")}}</div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/poll.js') }}"></script>
{% endblock %}
