{% macro table_option_user(poll, form) -%}
<form method="post">    
{{ form.hidden_tag() }}
<table class="table" id="options-users-table">
    <tr> <!-- Month + Year -->
        <th class="text-center" style="min-width: 150px;">Name</th>
        <th></th>
        {% for option in poll.options %}
            {% if poll.diffrent_than_last(loop.index-1) %}
            <th colspan="{{poll.next_year_and_month(loop.index-1)}}"> {{option.year_and_month()}} </th>
            {% endif %}
        {% endfor %}
        <th></th>
    </tr>
    <tr> <!-- Day + hour -->
        <th></th> <th></th>
        {% for option in poll.options %}
            <th style="min-width: 75px;"> {{option.dayname}}&nbsp;{{option.day}}{{option.time if option.time else ""}}</th>
        {% endfor %}
        <th></th>
    </tr>
    <tr> <!-- Input -->
        <td>{{form.name(
            placeholder="Your name",
            class_="form-control")
        }}</td>
        <th>
            <div class="text-center">
                <button class="btn btn-primary" type="button" id="show-settings" data-bs-toggle="offcanvas" data-bs-target="#settings" aria-controls="settings">
                    ⚙️
                </button>
             </div>
        </th>
        {% for option in form.options %}
        <td>{{option(class_="form-control option-select text-center")}}</td>
        {% endfor %}
        <td><div class="text-center">{{form.submit(class_="btn btn-primary")}}</div></td>
    </tr>
    {% for row in poll.rows %} <!-- Users -->
    <tr>
        {% set row_index = loop.index - 1 %}
        <th class="text-center align-middle">{{row[0]}}</th>
        <td>
            <div class="d-flex justify-content-center">
                <div class="edit-button" ><a href="?edit={{row[0]}}">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">✏️</button>
                    </a>
                </div>
                <div class="weight">
                    <input class="weight-input form-control text-center" id="weight-{{row_index}}" style="width: 46px;" value="1">
                </div>
            </div>
        </td>
        {% for cell in row[1] %}
        <td id="availability-{{row_index}}-{{loop.index-1}}" class="availability text-center align-middle">
            {{cell}}
        </td>
        {% endfor %}
        <td>
            <div class="delete-button text-center"><a href="?delete={{row[0]}}">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">🗑️</button>
            </a></div>
        </td>
    </tr>
    {% endfor %}
    <tfoot> <!-- Summary -->
        <td></td>
        <td></td>
        {% for _ in poll.options %}
            <td id="summary-{{loop.index-1}}" class="summary text-center"></td>
        {% endfor %}
        <td></td>
    </tfoot>
</table>
</form>
{% endmacro -%}
